@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap");

        * {
            font-family: "Poppins", sans-serif;
        }

        .sidebar {
            width: 250px;
            height: 100%;
            background-color: #292929;
            color: white;
            position: fixed;
            top: 0;
            left: 0;
            padding: 20px;
            box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
            overflow-y: auto; /* or overflow-y: scroll; */
            scrollbar-width: none; /* Firefox 64+ */
            -ms-overflow-style: none; /* IE and Edge */
            transition: all 0.3s;
        }

        .sidebar::-webkit-scrollbar {
            display: none; /* Hide scrollbar for Chrome, Safari, and Opera */
        }

        .sidebar h2 {
            text-align: center;
            margin-bottom: 30px;
        }

        .sidebar-menu {
            list-style-type: none;
            padding: 0;
        }

        .sidebar-menu li {
            margin: 15px 0;
        }

        .sidebar-menu a {
            color: white;
            text-decoration: none;
            display: block;
            padding: 10px;
            border-radius: 5px;
            transition: background-color 0.3s ease;
        }

        .sidebar-menu a:hover {
            background-color: grey;
            color: black;
        }

        .sidebar-toggle {
            display: none; /* Hide by default on larger screens */
        }

        .sidebar.collapsed {
            display: block; 
        }

        
        .sidebar .sidebar-close {
            display: none; /* Hide close button by default */
        }

        .sidebar .sidebar-close i {
            font-size: 1.5rem; /* Adjust icon size */
            color: white; /* Adjust icon color */
        }

        .main-content{
            margin-left: 250px;
            padding: 20px;
            margin-top: 60px; /* Increased top margin for header */
        }

        @media (max-width: 768px) {
            .sidebar {
                transform: translateX(-250px); /* Move sidebar off-screen */
            }
        
            .sidebar.collapsed {
                transform: translateX(0);
                z-index: 1000; /* Show sidebar */
            }
        
            .sidebar-menu {
                padding: 10px; /* Adjust padding */
            }
        
            .sidebar-toggle {
                display: block; /* Show toggle button/icon */
                position: fixed;
                top: 10px;
                left: 10px;
                font-size: 1.5rem; /* Adjust font size of toggle icon */
                cursor: pointer;
                border: none;
                background-color: #ffffff;
            }

            .main-content{
                margin-left: 0;
            }

            .sidebar .sidebar-close {
                display: block; /* Show close button in collapsed state */
                position: absolute;
                top: 10px;
                right: 10px;
                background: none;
                border: none;
                cursor: pointer;
            }
        }

        .form-area {
            padding: 20px;
            margin-top: 20px;
            background-color: white;
            color: #292929;
        }

        .bi-trash-fill {
            color: red;
            font-size: 18px;
        }

        .bi-pencil {
            color: green;
            font-size: 18px;
            margin-left: 20px;
        }

        .btn.btn-info {
            background-color: #292929;
            color: white;
            padding: 7px;
            border-radius: 0.5rem;
            border-style: hidden;
        }

        .btn.btn-info:hover {
            background-color: grey;
        }

        .or-container {
            display: flex;
            align-items: center;
            text-align: center;
            margin: 20px 0;
        }

        .or-line {
            flex: 1;
            height: 1px;
            background-color: gray;
        }

        .or-text {
            padding: 0 10px;
            color: black;
        }
        .logout-button {
            background-color: black;
            color: white;
            padding: 10px 20px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            font-family: "Poppins", sans-serif;
        }
        
        .logout-button:hover {
            background-color: grey;
        }
        .header {
            width: calc(100% - 250px);
            background-color: #ffffff;
            color: white;
            padding: 10px;
            position: fixed;
            top: 0;
            right: 0;
            z-index: 1000;
            display: flex;
            justify-content: flex-end;
            align-items: center;
            margin-left: 250px;
        }


